title: U.S. Federal Public Trust TLS Certificate Policy (Version 1.0 Final for Vote)
small_title: U.S. Federal Public Trust TLS PKI
smallest_title: U.S. Federal Public Trust TLS PKI
description: Certificate Policy for a new public key infrastructure for TLS certificates for public .gov and .mil websites.
email: fpki@gsa.gov
author:
    name: FICAM
repo_url: https://github.com/uspki/policies
baseurl: ''
branch: policy-pages
# Federalist overwrites the site.branch value when deploying
# the site.branch was used in dynamic link generation for objects including Edit Page
# we want the dynamic links to send users to the the primary editing branch.  editbranch is the new site variable to ensure Edit Page sends users to the correct branch for pull requests.
editbranch: master

report_url: "assets/docs/US_Federal_Public_Trust_TLS_Certificate_Policy_v1_0_draft.pdf"

google_analytics_ua:
repo: https://github.com/uspki/policies

uswds_path: assets/uswds
# Links
# List links that you would like to appear on the top navigation bar here

exclude:
- CONTRIBUTING.md
- _config.yml
- .travis.yml
- .gitignore
- Gemfile
- Gemfile.lock
- LICENSE.md
- README.md
- manifest.yml
- Staticfile
- Staticfile.auth

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "base"

collections:
  pages:
    output: true
    #permalink: /:path/
