<footer class="usa-footer-primary-section" role="contentinfo">
  <div class="usa-grid">
      <div class="usa-width-one-fourth">
        <a href="https://www.cio.gov/">
          <img class="logo-usds" src="{{ site.baseurl }}/assets/img/logo-cio.png" alt="CIO">
        </a>
    </div>
    <div class="usa-width-one-fourth">
      <a href="http://www.gsa.gov/">
          <img src="{{ site.baseurl }}/assets/img/logo-gsa.png" alt="GSA">
        </a>
    </div>
    <div class="usa-width-one-fourth last-child">
      <p>Feedback? Email us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p>
    </div>
    <div class="usa-width-one-fourth">
  	<p><a href="https://www.idmanagement.gov/IDM/s/article_detail?link=privacy_policy">Privacy Policy</a></p>
    </div>
  </div>
</footer>
