{% comment %} 
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">Public TLS:</span>Securing Public Federal Websites
      </h2>
      <p>Securing Federal Government web services and delivering information to our consumers and partners in a trusted and privacy-enhancing manner is a priority for Federal Government teams across all our missions.</p>
      <a class="usa-button" href="{{ site.baseurl }}/certificatepolicy/">Read the Policy</a>
    </div>
  </div>
</section>
