{% comment %}
You shouldn't have to edit this page very often. But if you want to modify some of the meta-data for the
site, this is the place to do it.
{% endcomment %}

<head>
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% unless site.branch == "federalist-pages" %}
    <meta name="robots" content="noindex, nofollow">
  {% endunless %}
  
  <!-- Including unsafe inline for the fpki graph negates having a CSP.
  <meta http-equiv="Content-Security-Policy" content="
  default-src 'self';
  script-src 'report-sample' 'self' 'unsafe-inline' https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js https://www.google-analytics.com/analytics.js;
  style-src 'report-sample' 'self'; 
  object-src 'none';
  base-uri 'self';
  connect-src 'self' https://search.usa.gov https://www.google-analytics.com;
  font-src 'self';
  frame-src 'self';
  img-src 'self';
  child-src 'self';
  manifest-src 'self';
  media-src 'self';
  prefetch-src 'self';
  form-action 'self' https://search.usa.gov;
  worker-src 'none';">
-->

  <!-- can't be set in meta %}
  frame-ancestors 'self';
  report-uri https://6025701774246c4998ba14df.endpoint.csper.io/; 
  -->

  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Title and meta description
    ================================================== -->
  <title>{{page.title}}</title>
  <meta property="og:title" content="{{page.title}}">
  <meta name="description" content="{{page.description}}">
  <meta property="og:description" content="{{site.description}}">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{site.twitter}}" />
  <meta name="twitter:title" content="{{site.title}}" />
  <meta name="twitter:description" content="{{site.description}}" />

  <meta property="og:type" content="article">
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />

  <!-- Favicons
    ================================================== -->

  <!-- 128x128 -->
<!--  <link rel="shortcut icon" type="image/ico" href="{% asset favicons/favicon.ico @path %}">-->
  <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl}}/assets/favicons/favicon.ico">
<!--  <link rel="icon" type="image/png" href="{% asset favicons/favicon.png @path %}">-->
  <link rel="icon" type="image/png" href="{{ site.baseurl}}/assets/favicons/favicon.png">
  <!-- 192x192, as recommended for Android http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android-->
<!--  <link rel="icon" type="image/png" sizes="192x192" href="{% asset favicons/favicon-192.png @path %}">-->
  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl}}/assets/favicons/favicon-192.png">
<!--  <link rel="apple-touch-icon-precomposed" href="{% asset favicons/favicon-57.png @path %}">-->
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl}}/assets/favicons/favicon-57.png">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<!--  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% asset favicons/favicon-72.png @path %}">-->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl}}/assets/favicons/favicon-72.png">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<!--  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% asset favicons/favicon-114.png @path %}">-->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl}}/assets/favicons/favicon-114.png">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<!--  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% asset favicons/favicon-144.png @path %}">-->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl}}/assets/favicons/favicon-144.png">

  <!-- CSS
    ================================================== -->
  {% asset index.css %}

</head>
