{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Securing Connections to Public Federal Websites and Web Services</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>Federal Government teams are working to ensure our missions have secure, cost-effective, and stable <strong>services</strong> to secure these web services. We developed this Certificate Policy to address Internet PKI requirements and to support the establishment of the <strong>new</strong> U.S. Federal Public Trust TLS Public Key Infrastructure (PKI) for .mil and .gov web services.</p>
      <p>The browser community, commercial and non-profit trust store owners, and Standards Development Organizations have rapidly been adopting emerging technology and new requirements for the public Internet and Hypertext Transfer Protocol (HTTPS). These requirements are intended to protect consumers, protect website operators from spoofing incidents, and promote an open and transparent trust model across the globe. These requirements include:</p>
      <ul>
        <li>Requiring Certificate Transparency (CT)</li>
        <li>Requiring increasingly shorter lifetimes of the validity of certificates used for publicly trusted web services</li>
        <li>Public disclosure of all certificate policies, practices and procedures by all Certification Authorities</li>
      </ul>
        
      <p>This Certificate Policy was developed for Federal Government missions and addresses Internet PKI requirements defined and governed by six (6) communities.</p>
       <ul>
          <li>Federal Government security requirements, standards and missions</li>
          <li><a href="https://cabforum.org/" target="_blank" rel="noopener noreferrer">CA/Browser Forum</a></li>
          <li><a href="https://technet.microsoft.com/en-us/library/cc751157.aspx" target="_blank" rel="noopener noreferrer">Microsoft Trust Store Program</a></li>
          <li><a href="https://www.apple.com/certificateauthority/ca_program.html" target="_blank" rel="noopener noreferrer">Apple Trust Store Program</a></li>
          <li><a href="https://www.mozilla.org/en-US/about/governance/policies/security-group/certs/" target="_blank" rel="noopener noreferrer">Mozilla Community and Trust Store Program</a></li>
          <li><a href="https://www.chromium.org/Home/chromium-security/certificate-transparency" target="_blank" rel="noopener noreferrer">Google Chromium</a></li>
       </ul>
       <br>
      </div>
      <div class="tablet:grid-col-4">
        <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Relationship to the Federal PKI</h2>
      </div>
      <div class="tablet:grid-col-8 usa-prose">
        <p>The Federal Government currently manages the Federal Public Key Infrastructure, a trust framework of over one hundred (100) certification authorities used to issue and manage person identity and enterprise device identity certificates for the U.S. Federal Government and mission partners. The current Federal Public Key Infrastructure (FPKI) is managed and operated as a <strong>bridged</strong> public key infrastructure originally intended to establish trust across related communities of interest.</p>
        <p>Government teams recognized the need to create a _new_ Certificate Policy and infrastructure focused on Internet PKI requirements.  The CAs operating under this Certificate Policy in the new infrastructure will not have cross-certificates with any existing Federal Public Key Infrastructure CAs.  This is one step towards new purpose driven services intended to support the mission needs, and:</p>
        <ul>
          <li>Separate the certificate policies and infrastructures.</li>
          <li>Delineate person identity, government enterprise device identity, government code signing, government time stamping, and public trust (Internet) web services.</li>
          <li>Support automation for the missions.</li>
          <li>Improve customer experience and public transparency for Federal Government public web services.</li>
        </ul>        
        <p>The Federal Public Key Infrastructure Policy Authority maintains the governance and voting rights to manage this Certificate Policy.</p>
      </div>
    </div>
  </div>
</section>