{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Securing Connections to Public Federal Websites and Web Services</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>The General Services Administration is in the process of updating the Public Trust TLS Certificate Policy. Archived copies are available on this site in the below list. Send any questions to FPKI at GSA.gov.<p>
      <ul>
        <li><a href="https://devicepki.idmanagement.gov/assets/docs/us-federal-public-trust-tls-cp.pdf" target="__blank" rel="noopener noreferrer"> Version 1.0 FINAL of this Certificate Policy</a> was approved by the Federal PKI Policy Authority on May 9, 2019.
        <li><a href="https://devicepki.idmanagement.gov/assets/docs/US_Federal_Public_Trust_TLS_Certificate_Policy_v1_0_draft.pdf" target="_blank" rel="noopener noreferrer">Version 1.0 DRAFT of this Certificate Policy</a> was posted for final vote from the Federal PKI Policy Authority and stakeholders.</li>
        <li><a href="https://devicepki.idmanagement.gov/assets/docs/US_Federal_Public_Trust_TLS_Certificate_Policy_v0_4.pdf" target="_blank" rel="noopener noreferrer">Version 0.4 of this Certificate Policy</a> was updated for team reviews against the practice statements and development.</li>
        <li><a href="https://devicepki.idmanagement.gov/assets/docs/US_Federal_Public_Trust_TLS_Certificate_Policy_v0_3.pdf" target="_blank" rel="noopener noreferrer">Version 0.3 of this Certificate Policy</a> was updated for internal team reviews against the practice statements and development.</li>
        <li><a href="https://devicepki.idmanagement.gov/assets/docs/US_Federal_Public_Trust_TLS_Certificate_Policy_v0_2.pdf" target="_blank" rel="noopener noreferrer">Version 0.2 of this Certificate Policy</a> was open for review and modification during initial development and some testing of the Certification Authorities.</li>
        <li><a href="https://devicepki.idmanagement.gov/assets/docs/Federal_Public_Trust_Device_PKI_Certificate_Policy_Draft_v0_1_September2017.pdf" target="_blank" rel="noopener noreferrer">Version 0.1 of this Certificate Policy</a> was opened for comment in September 2017 and closed on October 31, 2017.</li>
      <ul>
    </div>
  </div>
</section>
